<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><%= link_to 'URL Shortner', root_url, {class: 'brand-logo right'} %></li>
      <% if user_signed_in? %>
          <li><%= link_to 'Web Addresses', web_addresses_path %></li>
          <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>